@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  /* font-family: "Montserrat Alternates", sans-serif; */
}

/* header styles */
.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: rgb(129, 129, 129); */
}

.logo-wrapper {
  padding-top: 0.5rem;
}

.logo-wrapper img {
  border-radius: 50%;
  cursor: pointer;
}

/* Mobile Nav Styles */
.mobile-nav {
  background-color: rgba(114, 113, 113, 0.5);
  position: absolute;
  top: 0;
  right: 50%;
  bottom: 0;
  left: 0;
  display: none;
}

.mobile-nav ul {
  min-height: 100vh;
}

.mobile-nav li {
  /* border: 2px solid yellow; */
  list-style-type: none;
  margin-top: 2rem;
  padding: 1rem 2rem;
  border-bottom: 1px solid rgb(32, 31, 31);
}

.mobile-nav li:nth-child(1) {
  margin-top: 3rem;
}

.mobile-nav li:nth-child(4) {
  border-bottom: none;
}

.mobile-nav a {
  text-decoration: none;
  color: #242424;
  font-size: 1.25rem;
}

/* Social Icons Styles */
.social-icon-wrapper {
  display: flex;
  padding: 0.5rem 1rem;
}

.social-icon-wrapper li {
  list-style-type: none;
  margin-left: 2rem;
}

.social-icon-wrapper li:nth-child(1) {
  margin-left: 0;
}

/* BTN Active state */
.active {
  background-color: rgb(194, 69, 12);
  color: white;
}

/* Phone Input */
.PhoneInput {
  width: 100%;
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.PhoneInputInput {
  outline: none;
  border: none;
  color: black;
  opacity: 50%;
}

.PhoneInputCountry {
  color: black;
}

.PhoneInputInput:focus {
  color: rgb(194, 69, 12);
  opacity: 100%;
}

.PhoneInputCountrySelect {
  color: rgb(194, 69, 12);
}
