@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

/* Social Icons Styles */
.social-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
}

.social-icon-wrapper li {
  list-style-type: none;
  margin-left: 2rem;
}

.social-icon-wrapper li:nth-child(1) {
  margin-left: 0;
}

/* BTN Active state */
.active {
  background-color: rgb(194, 69, 12);
  color: white;
}

/* Phone Input */
.PhoneInput {
  width: 100%;
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.PhoneInputInput {
  outline: none;
  border: none;
  background: none;
  color: black;
  opacity: 50%;
}

.PhoneInputCountry {
  color: black;
}

.PhoneInputInput:focus {
  color: rgb(194, 69, 12);
  opacity: 100%;
}

.PhoneInputInput:focus .PhoneInput {
  border: 1px solid rgb(194, 69, 12);
}

.PhoneInputCountrySelect {
  color: rgb(194, 69, 12);
}
